---

---

<div class="absolute inset-0 w-full h-full pointer-events-none -z-10 overflow-hidden">
  <div class="absolute top-[15%] right-[5%] w-10 h-10 opacity-10 text-emerald-800 rotate-6">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="currentColor">
      <path
        d="M60.1,50H45.5L32,21.1L18.5,50H3.9c-0.7,0-1.3,0.6-1.3,1.3s0.6,1.3,1.3,1.3h56.2c0.7,0,1.3-0.6,1.3-1.3S60.9,50,60.1,50z
        M20.6,50l11.4-24.5L43.4,50H20.6z"
      ></path>
    </svg>
  </div>
  <div class="absolute bottom-[30%] left-[8%] w-10 h-10 opacity-10 text-emerald-800 -rotate-3">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="currentColor">
      <path
        d="M46.7,32.5c0-4.4-4.1-8-4.1-8s0.5,7-2.7,7c-2.9,0-0.9-15-9.9-15c-9.1,0-7.1,15-9.9,15c-3.2,0-2.7-7-2.7-7s-4.1,3.6-4.1,8
        c0,4.4,4.1,8.2,4.1,8.2v5.4h25.3v-5.4C42.6,40.7,46.7,36.9,46.7,32.5z"
      ></path>
      <rect x="17.3" y="48.2" width="29.3" height="2.7"></rect>
      <rect x="19.3" y="52.2" width="25.3" height="2.7"></rect>
    </svg>
  </div>
  <div class="absolute top-[40%] right-[8%] w-12 h-12 opacity-10 text-emerald-800">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="currentColor">
      <path
        d="M56,46L42.9,18.1c-0.4-0.8-1.4-1.3-2.3-1.3c-0.9,0-1.7,0.4-2.2,1.1L32,26.2l-6.5-8.3c-0.5-0.6-1.2-0.9-2-0.9
        c-0.7,0-1.4,0.3-1.9,0.8L8,36.2V46H56z"
      ></path>
      <circle cx="39" cy="22" r="2"></circle>
    </svg>
  </div>
  <div class="absolute top-[60%] right-[12%] w-10 h-10 opacity-10 text-emerald-800 rotate-12">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="currentColor">
      <circle cx="32" cy="32" r="18" fill="none" stroke="currentColor" stroke-width="2"></circle>
      <path d="M39,25l-14,7l7,7l7-14" fill="currentColor"></path>
    </svg>
  </div>
  <div class="absolute bottom-[15%] left-[15%] w-11 h-11 opacity-10 text-emerald-800 -rotate-6">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="currentColor">
      <path
        d="M42,16h-6v-4c0-2.2-1.8-4-4-4s-4,1.8-4,4v4h-6c-2.2,0-4,1.8-4,4v28c0,2.2,1.8,4,4,4h20c2.2,0,4-1.8,4-4V20
        C46,17.8,44.2,16,42,16z M32,12c0-1.1,0.9-2,2-2s2,0.9,2,2v4h-4V12z"
      ></path>
      <rect x="26" y="22" width="12" height="2"></rect>
    </svg>
  </div>
</div>
