---
import LayoutBase from "./LayoutBase.astro";
import Header from "@/components/Header.astro";
import "remark-github-blockquote-alert/alert.css";
---

<LayoutBase {...Astro.props}>
  <Header />
  <main>
    <slot />
  </main>
</LayoutBase>
